{{- /*




  {{ partial "helpers/date.html" (dict "date" .Date "variant" "long")
}}
{{ partial "helpers/date.html" (dict "date" .Date "variant" "short" "kind" "time") }}
*/ -}}
{{- $date := .date -}}
{{- $variant := .variant | default "long" -}}
{{- $kind := .kind | default "date" -}}
{{- $defaults := dict
  "date" (dict
  "full" ":date_full"
  "long" ":date_long"
  "medium" ":date_medium"
  "short" ":date_short")
  "time" (dict
  "full" ":time_full"
  "long" ":time_long"
  "medium" ":time_medium"
  "short" ":time_short")
-}}
{{- $configKey := cond (eq $kind "time") "timeFormat" "dateFormat" -}}
{{- $configured := (index site.Params $configKey) | default dict -}}
{{- $kindDefaults := index $defaults $kind -}}
{{- $format := (index $configured $variant) | default (index $kindDefaults $variant) -}}
{{- $date | time.Format $format -}}
