{{ $globalGallery := site.Params.gallery | default dict }}
{{ $globalLightbox := site.Params.lightbox | default dict }}

{{ $pageGallery := .Params.gallery | default dict }}
{{ $pageLightbox := .Params.lightbox | default dict }}

{{ $galleryEnabled := cond (isset $pageGallery "enabled") $pageGallery.enabled ($globalGallery.enabled | default false) }}
{{ $lightboxEnabled := cond (isset $pageLightbox "enabled") $pageLightbox.enabled ($globalLightbox.enabled | default false) }}
{{ $pageHasImageFigure := .Store.Get "hasImageFigure" | default false }}
{{ $pageHasLightboxFigure := .Store.Get "hasLightboxFigure" | default false }}

{{ $galleryConfig := $globalGallery }}
{{ if $pageGallery }}
  {{ $galleryConfig = merge $galleryConfig $pageGallery }}
{{ end }}

{{ $cleanGalleryConfig := dict }}
{{ range $key, $value := $galleryConfig }}
  {{ if ne $key "enabled" }}
    {{ $cleanGalleryConfig = merge $cleanGalleryConfig (dict $key $value) }}
  {{ end }}
{{ end }}

{{- return dict
  "gallery" (and $galleryEnabled $pageHasImageFigure)
  "lightbox" (and $lightboxEnabled (or $pageHasImageFigure $pageHasLightboxFigure))
  "galleryOptions" $cleanGalleryConfig
-}}
